a.active {
  font-weight: bold;
  text-decoration: none;
}

.events.active {
  background: linear-gradient(180deg, aliceblue 0%, lightblue 100%);
}

.people.active {
  background: linear-gradient(180deg, papayawhip 0%, rgba(255, 217, 0, 0.4) 100%);
}
