.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Layout-nav {
  align-items: baseline;
  column-gap: 16px;
  display: flex;
  margin: 8px 16px 0;
}

.Layout-title {
  margin: 0 8px 0 0;
}

.Layout-link {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px 16px;
}

.Layout-main {
  display: flex;
  flex-grow: 1;
}
